
body, * {
  font-family: 'Inter', sans-serif;
}

/* ✅ Input focus styling override */
.form-control:focus {
  box-shadow: none !important;
}



.searchTopnav {
  width: 100%;
}

.righticon {
  width: 100%;
  color: rgb(146, 145, 145);
}

.logoSearch {
  width: 100%;
}

.profile-section {
  padding: 25px;
  height: 90vh;
  background: linear-gradient(to bottom right, #3fe2cd47, #ffffff42);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
              rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}





.loginContainer{
  background: linear-gradient(to bottom right, #3fe2cd47, #ffffff42);
<<<<<<< HEAD
=======
}
.menuButton{
  color: rgb(85, 84, 84) !important;
  font-weight: 500;
  transition: .2s !important;
  font-family: 'Inter', sans-serif;
  text-decoration: none !important;
}
.menuButton:hover {
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  border-radius: 8px;
}
.menutabs{
  color: rgb(85, 84, 84) !important;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}
.profilename{
  color: rgb(0, 0, 0) !important;
  text-decoration: none !important;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
/* Add this to your CSS */
.barchart g.MuiChartsAxisLeft line {
  display: none;
}
.dashbordheader{
  background: linear-gradient(to bottom right, #b5fff9, #ff894ea6);
  
  color: rgb(85, 84, 84) !important;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
>>>>>>> 1ba24e7634287c784f5408a897c9c377d091f571
}