
body, * {
  font-family: 'Inter', sans-serif;
}

/* ✅ Input focus styling override */
.form-control:focus {
  box-shadow: none !important;
}



.searchTopnav {
  width: 100%;
}

.righticon {
  width: 100%;
  color: rgb(146, 145, 145);
}

.logoSearch {
  width: 100%;
}

.profile-section {
  padding: 25px;
  height: 90vh;
  background: linear-gradient(to bottom right, #3fe2cd47, #ffffff42);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
              rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}



.loginRightContainer{
  background: linear-gradient(to bottom right, #3fe2cd47, #ffffff42);
}